@import url(/style/font.css);
@media screen and (min-width: 601px) {
  .connection {
    padding-top: 5vh;
    padding-bottom: 120px;
    background-image: url("../assets/connection/images/fon.png");
  }
  .connection__h2 {
    position: absolute;
    margin-left: 6vw;
    padding-top: 10px;
    font-size: 6.4vw;
    font-family: "SF Pro Display Black";
    color: #4F4F4F;
  }
  .connection__icon {
    position: relative;
    padding-left: 3.5vw;
    margin-top: 12vh;
  }
  .connection__button {
    margin-left: 3.5vw;
    margin-top: 3vh;
    width: 13.3vw;
    height: 7vh;
    padding-top: 2vh;
    background-image: url(../img/knopkafon.png);
    background-size: 300px 600px;
    background-position: center;
    font-family: "SF Pro Display Heavy";
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    border-width: 0px;
    box-shadow: 0px 20px 20px 0px rgba(115, 205, 0, 0.3);
  }
  .connection__button:hover{
    color:white;
  }
  .connection__container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 68px 68px 68px 188px;
    row-gap: 20px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    font-size: 20px;
  }
  .connection__form1 {
    padding-left: 30px;
    border-radius: 100px;
    background: #F2F2F2;
    border-width: 0px;
  }
  .connection__form2 {
    padding-left: 30px;
    border-radius: 100px;
    grid-column: 1/2;
    background: #F2F2F2;
    border-width: 0px;
  }
  .connection__form3 {
    padding-left: 30px;
    border-radius: 100px;
    grid-column: 1/2;
    background: #F2F2F2;
    border-width: 0px;
  }
  .connection__form4 {
    padding-left: 30px;
    border-radius: 40px;
    grid-column: 1/2;
    background: #F2F2F2;
    border-width: 0px;
  }
  .connection__formimage {
    width: 784px;
    grid-column: 2/3;
    grid-row: 1/5;
  }
  .connection__formimage1{
    display:none;
  }
  .connection__image {
    float: right;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  .connection{
    padding-bottom:50px;
  }
  .connection__h2 {
    position: absolute;
    padding-left: 40px;
    font-size: 24px;
    font-family: "SF Pro Display Black";
    color: #4F4F4F;
  }
  .connection__icon {
    position: relative;
    padding-left: 3.5vw;
    margin-top: 2vh;
    width: 40px;
    }

  .connection__container {

    padding-top: 30px;
    padding-left:3.5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 55px 55px 130px;
    row-gap: 20px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    font-size: 14px;
  }

    .connection__form1 {
      width:92vw;
      padding-left: 3.5vw;
      border-radius: 100px;
      background: #F2F2F2;
      border-width: 0px;
    }
    .connection__form2 {
      width:92vw;
      padding-left: 3.5vw;
      border-radius: 100px;
      grid-column: 1/2;
      background: #F2F2F2;
      border-width: 0px;
    }
    .connection__form3 {
      width:92vw;
      padding-left: 3.5vw;
      border-radius: 100px;
      grid-column: 1/2;
      background: #F2F2F2;
      border-width: 0px;
    }
    .connection__form4 {
      width:92vw;
      padding-left: 3.5vw;
      border-radius: 40px;
      grid-column: 1/2;
      background: #F2F2F2;
      border-width: 0px;
    }
    .connection__formimage{
      display:none;
    }
    .connection__button {
      margin-left: 3.5vw;
      margin-top: 20px;
      padding-top:14px;
      width: 200px;
      height: 48px;
      background-image: url(../img/knopkafon.png);
      background-position: center;
      background-size: 300px 600px;
      font-family: "SF Pro Display Heavy";
      font-size: 14px;
      color: white;
      border-radius: 30px;
      border-width: 0px;
      box-shadow: 0px 20px 20px 0px rgba(115, 205, 0, 0.3);
    }
    .connection__button:hover{
      color:white;
    }
    .connection__formimage1{
      width:93vw;
      margin-left: 3.5vw;
      padding-top:50px
    }
    .connection__image{
      display:none;
    }
}/*# sourceMappingURL=connection.css.map */