@media screen and (min-width: 601px) {
.header__item1, .header__item2, .header__item3, .header__item4 {
height: 7vh;
padding-left:1vw;
padding-right: 1vw;;
padding-top:1vh;
margin-left: 2vw;
background-color: #2FC97F;
font-size: 1.82vw;
font-family: 'Raleway', sans-serif;
font-weight: 600;
text-align: center;
border-radius: 50px;
}
.header a{
    color:white;
    text-decoration: none;
}

.header a:hover{
    color:white;
    text-decoration: none;
}

.header__item1{
    width: 8vw;
}
.header__item1:hover, .header__item2:hover, .header__item3:hover, .header__item4:hover{
    font-size: 1.97vw;
    
}
.header__item2{
    width:18vw;

}
.header__item3{
    width:7.9vw;
}
.header__item4{
    width:20vw;
}
.header__item5{
    display: none;
}
.header__logo{
    width:30vw;
    font-size: 3.33vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.header{
    display: flex;
    width: 100vw;
    height:7vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 4vh;
    justify-content: space-between;
}
.header__container{
    padding-top: 1vh;
    display:flex;
}
.header__mobilecontainer{
    display: none;
}}



@media screen and (max-width: 600px) {
.header__logo, .header__container{
    display: none;
 }
 .header__item5 {
    width: 20vw;
    height: 6vh;
    padding-left:1vw;
    padding-right: 1vw;;
    padding-top:1vh;
    margin-left: 2vw;
    background-color: #2FC97F;
    font-size: 4vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    }


    .header__mobilecontainer{
        display: grid;
        padding-top: 8vh;
        padding-left: 5vw;
        padding-right: 5vw;
        width: 100vw;
        height:20vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    
    }
    .header__logo_mobile{
        justify-self: flex-start;
        font-size: 7vw;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    .header__item5{
        justify-self: flex-end;
        color:white;
    }
    .header__mobilecontainer ul{
  
        height: 50%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: #2FC97F; 
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 5.5vw;
        border-radius: 30px 0px 30px 30px;
        overflow-x: hidden; /* Disable horizontal scroll */
        opacity: 0;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

  .link1{
        color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    }

.link{
    color: white;
    text-decoration: none;
    }
    .header__mobilecontainer ul li{
    padding: 2vh;
    list-style-type: none;
    color: white;
    text-decoration: none;
    }


    .closebtn {
        right: 10%;
        font-size: 35px;
        margin-left: 80%;
        text-decoration: none;
        color:white;
    }


   }   